dfproductmanagement/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfproductmanagement"
		},
		"Snowflake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake'"
		},
		"AzureBlobStorage_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'AzureBlobStorage'"
		},
		"Snowflake_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ADFDEMO"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('AzureBlobStorage_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "lu90146.us-east-2.aws",
					"user": "ashrayt20",
					"database": "[parameters('Snowflake_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Customer.csv",
						"container": "adfdemodata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "NAMESTYLE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRSTNAME",
						"type": "String"
					},
					{
						"name": "MIDDLENAME",
						"type": "String"
					},
					{
						"name": "LASTNAME",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "COMPANYNAME",
						"type": "String"
					},
					{
						"name": "SALESPERSON",
						"type": "String"
					},
					{
						"name": "EMAILADDRESS",
						"type": "String"
					},
					{
						"name": "PHONE",
						"type": "String"
					},
					{
						"name": "PASSWORDHASH",
						"type": "String"
					},
					{
						"name": "PASSWORDSALT",
						"type": "String"
					},
					{
						"name": "ROWGUID",
						"type": "String"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Product.csv",
						"container": "adfdemodata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "NAMESTYLE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRSTNAME",
						"type": "String"
					},
					{
						"name": "MIDDLENAME",
						"type": "String"
					},
					{
						"name": "LASTNAME",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "COMPANYNAME",
						"type": "String"
					},
					{
						"name": "SALESPERSON",
						"type": "String"
					},
					{
						"name": "EMAILADDRESS",
						"type": "String"
					},
					{
						"name": "PHONE",
						"type": "String"
					},
					{
						"name": "PASSWORDHASH",
						"type": "String"
					},
					{
						"name": "PASSWORDSALT",
						"type": "String"
					},
					{
						"name": "ROWGUID",
						"type": "String"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_productcategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ProductCategory.csv",
						"container": "adfdemodata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "NAMESTYLE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRSTNAME",
						"type": "String"
					},
					{
						"name": "MIDDLENAME",
						"type": "String"
					},
					{
						"name": "LASTNAME",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "COMPANYNAME",
						"type": "String"
					},
					{
						"name": "SALESPERSON",
						"type": "String"
					},
					{
						"name": "EMAILADDRESS",
						"type": "String"
					},
					{
						"name": "PHONE",
						"type": "String"
					},
					{
						"name": "PASSWORDHASH",
						"type": "String"
					},
					{
						"name": "PASSWORDSALT",
						"type": "String"
					},
					{
						"name": "ROWGUID",
						"type": "String"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_salesorderdetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SalesOrderDetail.csv",
						"container": "adfdemodata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "NAMESTYLE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRSTNAME",
						"type": "String"
					},
					{
						"name": "MIDDLENAME",
						"type": "String"
					},
					{
						"name": "LASTNAME",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "COMPANYNAME",
						"type": "String"
					},
					{
						"name": "SALESPERSON",
						"type": "String"
					},
					{
						"name": "EMAILADDRESS",
						"type": "String"
					},
					{
						"name": "PHONE",
						"type": "String"
					},
					{
						"name": "PASSWORDHASH",
						"type": "String"
					},
					{
						"name": "PASSWORDSALT",
						"type": "String"
					},
					{
						"name": "ROWGUID",
						"type": "String"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_salesorderheader')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SalesOrderHeader.csv",
						"container": "adfdemodata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "NAMESTYLE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRSTNAME",
						"type": "String"
					},
					{
						"name": "MIDDLENAME",
						"type": "String"
					},
					{
						"name": "LASTNAME",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "COMPANYNAME",
						"type": "String"
					},
					{
						"name": "SALESPERSON",
						"type": "String"
					},
					{
						"name": "EMAILADDRESS",
						"type": "String"
					},
					{
						"name": "PHONE",
						"type": "String"
					},
					{
						"name": "PASSWORDHASH",
						"type": "String"
					},
					{
						"name": "PASSWORDSALT",
						"type": "String"
					},
					{
						"name": "ROWGUID",
						"type": "String"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "NAMESTYLE",
						"type": "VARCHAR"
					},
					{
						"name": "TITLE",
						"type": "VARCHAR"
					},
					{
						"name": "FIRSTNAME",
						"type": "VARCHAR"
					},
					{
						"name": "MIDDLENAME",
						"type": "VARCHAR"
					},
					{
						"name": "LASTNAME",
						"type": "VARCHAR"
					},
					{
						"name": "SUFFIX",
						"type": "VARCHAR"
					},
					{
						"name": "COMPANYNAME",
						"type": "VARCHAR"
					},
					{
						"name": "SALESPERSON",
						"type": "VARCHAR"
					},
					{
						"name": "EMAILADDRESS",
						"type": "VARCHAR"
					},
					{
						"name": "PHONE",
						"type": "VARCHAR"
					},
					{
						"name": "PASSWORDHASH",
						"type": "VARCHAR"
					},
					{
						"name": "PASSWORDSALT",
						"type": "VARCHAR"
					},
					{
						"name": "ROWGUID",
						"type": "VARCHAR"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "TIMESTAMP_NTZ"
					}
				],
				"typeProperties": {
					"schema": "RAW",
					"table": "CUSTOMER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "NAMESTYLE",
						"type": "VARCHAR"
					},
					{
						"name": "TITLE",
						"type": "VARCHAR"
					},
					{
						"name": "FIRSTNAME",
						"type": "VARCHAR"
					},
					{
						"name": "MIDDLENAME",
						"type": "VARCHAR"
					},
					{
						"name": "LASTNAME",
						"type": "VARCHAR"
					},
					{
						"name": "SUFFIX",
						"type": "VARCHAR"
					},
					{
						"name": "COMPANYNAME",
						"type": "VARCHAR"
					},
					{
						"name": "SALESPERSON",
						"type": "VARCHAR"
					},
					{
						"name": "EMAILADDRESS",
						"type": "VARCHAR"
					},
					{
						"name": "PHONE",
						"type": "VARCHAR"
					},
					{
						"name": "PASSWORDHASH",
						"type": "VARCHAR"
					},
					{
						"name": "PASSWORDSALT",
						"type": "VARCHAR"
					},
					{
						"name": "ROWGUID",
						"type": "VARCHAR"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "TIMESTAMP_NTZ"
					}
				],
				"typeProperties": {
					"schema": "RAW",
					"table": "PRODUCT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_productcategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "CUSTOMERID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "NAMESTYLE",
						"type": "VARCHAR"
					},
					{
						"name": "TITLE",
						"type": "VARCHAR"
					},
					{
						"name": "FIRSTNAME",
						"type": "VARCHAR"
					},
					{
						"name": "MIDDLENAME",
						"type": "VARCHAR"
					},
					{
						"name": "LASTNAME",
						"type": "VARCHAR"
					},
					{
						"name": "SUFFIX",
						"type": "VARCHAR"
					},
					{
						"name": "COMPANYNAME",
						"type": "VARCHAR"
					},
					{
						"name": "SALESPERSON",
						"type": "VARCHAR"
					},
					{
						"name": "EMAILADDRESS",
						"type": "VARCHAR"
					},
					{
						"name": "PHONE",
						"type": "VARCHAR"
					},
					{
						"name": "PASSWORDHASH",
						"type": "VARCHAR"
					},
					{
						"name": "PASSWORDSALT",
						"type": "VARCHAR"
					},
					{
						"name": "ROWGUID",
						"type": "VARCHAR"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "TIMESTAMP_NTZ"
					}
				],
				"typeProperties": {
					"schema": "RAW",
					"table": "PRODUCTCATEGORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sf_salesorder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "SALESORDERID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SALESORDERDETAILID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ORDERQTY",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRODUCTID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "UNITPRICE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "UNITPRICEDISCOUNT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LINETOTAL",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ROWGUID",
						"type": "VARCHAR"
					},
					{
						"name": "MODIFIEDDATE",
						"type": "TIMESTAMP_NTZ"
					},
					{
						"name": "REVISIONNUMBER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ORDERDATE",
						"type": "TIMESTAMP_NTZ"
					},
					{
						"name": "DUEDATE",
						"type": "TIMESTAMP_NTZ"
					},
					{
						"name": "SHIPDATE",
						"type": "TIMESTAMP_NTZ"
					},
					{
						"name": "STATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SALESORDERNUMBER",
						"type": "VARCHAR"
					},
					{
						"name": "PURCHASEORDERNUMBER",
						"type": "VARCHAR"
					},
					{
						"name": "ACCOUNTNUMBER",
						"type": "VARCHAR"
					},
					{
						"name": "CUSTOMERID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SHIPTOADDRESSID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BILLTOADDRESSID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SHIPMETHOD",
						"type": "VARCHAR"
					},
					{
						"name": "CREDITCARDAPPROVALCODE",
						"type": "VARCHAR"
					},
					{
						"name": "SUBTOTAL",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TAXAMT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "FREIGHT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TOTALDUE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "COMMENT",
						"type": "VARCHAR"
					}
				],
				"typeProperties": {
					"schema": "RAW",
					"table": "SALESORDER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "blob_salesorderheader",
								"type": "DatasetReference"
							},
							"name": "SalesOrderHeader"
						},
						{
							"dataset": {
								"referenceName": "blob_salesorderdetail",
								"type": "DatasetReference"
							},
							"name": "SalsOrderDetail"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sf_salesorder",
								"type": "DatasetReference"
							},
							"name": "Snowflake"
						}
					],
					"transformations": [
						{
							"name": "join"
						},
						{
							"name": "select"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SALESORDERID as integer,",
						"          REVISIONNUMBER as short,",
						"          ORDERDATE as timestamp,",
						"          DUEDATE as timestamp,",
						"          SHIPDATE as timestamp,",
						"          STATUS as short,",
						"          ONLINEORDERFLAG as boolean,",
						"          SALESORDERNUMBER as string,",
						"          PURCHASEORDERNUMBER as string,",
						"          ACCOUNTNUMBER as string,",
						"          CUSTOMERID as short,",
						"          SHIPTOADDRESSID as short,",
						"          BILLTOADDRESSID as short,",
						"          SHIPMETHOD as string,",
						"          CREDITCARDAPPROVALCODE as string,",
						"          SUBTOTAL as integer,",
						"          TAXAMT as short,",
						"          FREIGHT as short,",
						"          TOTALDUE as integer,",
						"          COMMENT as string,",
						"          ROWGUID as string,",
						"          MODIFIEDDATE as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesOrderHeader",
						"source(output(",
						"          SALESORDERID as integer,",
						"          SALESORDERDETAILID as integer,",
						"          ORDERQTY as short,",
						"          PRODUCTID as short,",
						"          UNITPRICE as short,",
						"          UNITPRICEDISCOUNT as boolean,",
						"          LINETOTAL as short,",
						"          ROWGUID as string,",
						"          MODIFIEDDATE as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalsOrderDetail",
						"SalesOrderHeader, SalsOrderDetail join(SalesOrderHeader@SALESORDERID == SalsOrderDetail@SALESORDERID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join",
						"join select(mapColumn(",
						"          SALESORDERID = SalesOrderHeader@SALESORDERID,",
						"          REVISIONNUMBER,",
						"          ORDERDATE,",
						"          DUEDATE,",
						"          SHIPDATE,",
						"          STATUS,",
						"          ONLINEORDERFLAG,",
						"          SALESORDERNUMBER,",
						"          PURCHASEORDERNUMBER,",
						"          ACCOUNTNUMBER,",
						"          CUSTOMERID,",
						"          SHIPTOADDRESSID,",
						"          BILLTOADDRESSID,",
						"          SHIPMETHOD,",
						"          CREDITCARDAPPROVALCODE,",
						"          SUBTOTAL,",
						"          TAXAMT,",
						"          FREIGHT,",
						"          TOTALDUE,",
						"          COMMENT,",
						"          ROWGUID = SalesOrderHeader@ROWGUID,",
						"          MODIFIEDDATE = SalesOrderHeader@MODIFIEDDATE,",
						"          SALESORDERID = SalsOrderDetail@SALESORDERID,",
						"          SALESORDERDETAILID,",
						"          ORDERQTY,",
						"          PRODUCTID,",
						"          UNITPRICE,",
						"          UNITPRICEDISCOUNT,",
						"          LINETOTAL,",
						"          ROWGUID = SalsOrderDetail@ROWGUID,",
						"          MODIFIEDDATE = SalsOrderDetail@MODIFIEDDATE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select",
						"select sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SALESORDERID as string,",
						"          SALESORDERDETAILID as string,",
						"          ORDERQTY as string,",
						"          PRODUCTID as string,",
						"          UNITPRICE as string,",
						"          UNITPRICEDISCOUNT as string,",
						"          LINETOTAL as string,",
						"          ROWGUID as string,",
						"          MODIFIEDDATE as string,",
						"          REVISIONNUMBER as string,",
						"          ORDERDATE as string,",
						"          DUEDATE as string,",
						"          SHIPDATE as string,",
						"          STATUS as string,",
						"          SALESORDERNUMBER as string,",
						"          PURCHASEORDERNUMBER as string,",
						"          ACCOUNTNUMBER as string,",
						"          CUSTOMERID as string,",
						"          SHIPTOADDRESSID as string,",
						"          BILLTOADDRESSID as string,",
						"          SHIPMETHOD as string,",
						"          CREDITCARDAPPROVALCODE as string,",
						"          SUBTOTAL as string,",
						"          TAXAMT as string,",
						"          FREIGHT as string,",
						"          TOTALDUE as string,",
						"          COMMENT as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     stageInsert: true,",
						"     mapColumn(",
						"          SALESORDERID,",
						"          SALESORDERDETAILID,",
						"          ORDERQTY,",
						"          PRODUCTID,",
						"          UNITPRICE,",
						"          UNITPRICEDISCOUNT,",
						"          LINETOTAL,",
						"          ROWGUID,",
						"          MODIFIEDDATE,",
						"          REVISIONNUMBER,",
						"          ORDERDATE,",
						"          DUEDATE,",
						"          SHIPDATE,",
						"          STATUS,",
						"          SALESORDERNUMBER,",
						"          PURCHASEORDERNUMBER,",
						"          ACCOUNTNUMBER,",
						"          CUSTOMERID,",
						"          SHIPTOADDRESSID,",
						"          BILLTOADDRESSID,",
						"          SHIPMETHOD,",
						"          CREDITCARDAPPROVALCODE,",
						"          SUBTOTAL,",
						"          TAXAMT,",
						"          FREIGHT,",
						"          TOTALDUE,",
						"          COMMENT",
						"     )) ~> Snowflake"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_salesorderheader')]",
				"[concat(variables('factoryId'), '/datasets/blob_salesorderdetail')]",
				"[concat(variables('factoryId'), '/datasets/sf_salesorder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake Integration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage",
									"type": "LinkedServiceReference"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Product",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage",
									"type": "LinkedServiceReference"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_product",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_product",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Product Category",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage",
									"type": "LinkedServiceReference"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blob_productcategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sf_productcategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sales Order",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Product Category",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesOrderHeader": {},
									"SalsOrderDetail": {},
									"Snowflake": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Stored Procedure",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Sales Order",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Snowflake",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CALL Analytics.InsertCustomerOrders();"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-14T01:17:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blob_customer')]",
				"[concat(variables('factoryId'), '/datasets/sf_customer')]",
				"[concat(variables('factoryId'), '/datasets/blob_product')]",
				"[concat(variables('factoryId'), '/datasets/sf_product')]",
				"[concat(variables('factoryId'), '/datasets/blob_productcategory')]",
				"[concat(variables('factoryId'), '/datasets/sf_productcategory')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]",
				"[concat(variables('factoryId'), '/linkedServices/Snowflake')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		}
	]
}